/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(85, 83, 83);
  margin-top: 10px;
  font-weight: bolder;
  color:whitesmoke;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
span, a{
  display: block;
  text-decoration: none;
}
/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
form{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
form div{
  padding: 0 10px;
}
form label{
  font-size: 2.5rem;
  padding-left: 25px;
}
form input{
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
table{
  text-align: center;
  font-weight: bold;
  width: 80%; 
  margin: auto;
  margin-top: 20px;
}
table .fairyRow{
  display: none;
}
table td{
  width: 150px;
  height: 21px;
  border: 1px solid black;
}
span{
  margin: auto;
  width: 30px;
  font-size: 1.7rem;
  font-weight: bolder;
  color:whitesmoke;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.danger{
  background: red;
}
.caution{
  background: orange;
}
.ez{
  background: green;
}
.neutral{
  background: gray;
}
.immune{
  background: black;
}
.coupleResists{
  background: green;
}
.lotResists{
  background: blue;
}
p{
  font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 150px;
}
img{
  width: 80px;
}


@media only screen and (max-width: 600px) {

  body form{
    flex-flow: column wrap;
    height: 180px;
  }
  form label{
    font-size: 1.8rem;
  }
  form div{
    margin-top: 2px;
    width: 50%;
  }
  form input{
    font-size: 1.5rem;
    width: 100%;
  }
  table{
    font-size: 1.5rem;
  }
  table td{
    padding-top: 4px;
  }
  img{
    width: 40px;
    height: 40px;
  }
  .names{
    font-size: 1rem;
  }
  .typing{
    font-size: 1.2rem;
  }
  .attackTypes{
    font-size: 1.2rem;
  }
  p{
    margin-left: 20px;
  }
  

}
